{#
/**
 * @file
 * Default theme implementation to print coorrency values.
 *
 * Available variables:
 *   - rate
 *
 * @see template_preprocess_coorrency()
 *
 * @ingroup themeable
 */
#}
<div class="coorrency-rate">
  <p>Rate: {{ rate }}</p>
</div>
